@media (min-width:576px) {
    /* ======== common css ======= */
        .container {
            margin-left: 20px;
            margin-right: 20px;
        }
        /* ======= header ========= */
        header .navbar .navigation {
            flex: 3;
            display: none;
        }
    
        header .navbar .end-nav button {
            display: block;
        }
    
        header .navbar .logo .fa-gem {
            font-size: 28px;
        }
    
        header .navbar .logo h1 {
            font-size: 28px;
        }
    
        header .navbar .search {
            display: none;
        }
    
        header .navbar .login {
            display: none;
        }

     /* ===== homepage ====== */
    .HomePage .homepage-content h1 {
        font-size: 45px;
    }
    .HomePage .waveWrapper{
        height: 130px;
        margin-top: -50px;
    }
    .learn_course .learn_details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

      .learn_course .learn-bottom{
        width: 80%;
    }

      /* === our facility  === */
    .ourFacility .facilityDetails{
        display: flex;
        flex-direction: column;
    }

     /* news section */
    .News-Sec .newsDetails{
        display: flex;
        flex-direction: column;
    }

     /* professional */
    .professional .pro_flex{
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
    }

     /* testimonials */
    .testimonials .client-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

     .learn_online .learn-p{
        padding: 80px 0;
    }   

     /* brands */
    .brands .brands-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}