@media (min-width:992px) {
     /* ======== common css ======= */
    .container {
        margin-left: 65px;
        margin-right: 65px;
    }
     header .navbar .navigation {
            flex: 3;
            display: flex;
    }
    header .navbar .end-nav button {
        display: none;
    }
    header .navbar .search{
        display: block;
    }
    header .navbar .login{
        display: block;
    }
 /* ===== homepage ====== */
    .HomePage .homepage-content h1 {
        font-size: 55px;
    }
    .HomePage .waveWrapper{
        height: 180px;
        margin-top: -100px;
    }
}