*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* =========== common css =========== */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin-left: 80px;
    margin-right: 80px;
}
.padding-sec{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* ============= header =========== */
header{
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1111;
}
header .header_p{
    padding: 20px 0px;
}
header .navbar{
    display: flex;
    align-items: center;
}
header .navbar .logo{
    flex: 1.5;
    display: flex;
    align-items: center;
    gap: 10px;
}
header .navbar .logo .fa-gem{
    font-size: 38px;
}
header .navbar .logo p{
    font-size: 16px;
}
header .navbar .navigation{
    flex: 3;
}
header .navbar .navigation ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
header .navbar .navigation ul li{
    padding: 10px;
}
header .navbar .navigation ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px ;
}
header .navbar .end-nav{
    flex: 1;
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
header .navbar .end-nav a{
    color: white;
    font-size: 17px;
}
header .navbar .end-nav button{
    display: none;
    height: 33px;
    width: 33px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
/* */
/* ============= homepage ======== */
.HomePage{
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.HomePage::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(148.25deg, #A253D8 3%, #1545CB 89.85%); */
    background: linear-gradient(to right, #a353d8b0,#1545cba7);
    z-index: -1;
}
.HomePage .homepage-content{
    text-align: center;
    width: 70%;
    margin: auto;
}
.HomePage .homepage-p{
    padding: 120px 0px;
}
.HomePage .homepage-content h1{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
}
.HomePage .homepage-content p {
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 20px 0px;
}
.HomePage .homepage-content button{
    height: 50px;
    width: 200px;
    background-color: #d87093;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 40px;
    transition: 0.5s ease-in all;
}
.HomePage .homepage-content button:hover {
    background-color: #ec2668;
}
.HomePage .waveWrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
    vertical-align: middle;
    overflow: hidden;
    margin-top: -100px;
    z-index: 1;
}

/* ========= learn_course ========== */
.learn_course{
    /* background-color: rgb(230, 230, 80); */
}
.learn_course .learn_title{
    text-align: center;
}
.learn_course .learn_title h6{
    color: gray;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom:10px ;
}
.learn_course .learn_title h1 {
    color: #0d0d51;
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom:10px ;
}